.signup {
  color: white;
}

.signup h2 {
  margin-bottom: 20px;
}

.signup label {
  display: block;
  margin-bottom: 5px;
}

.signup input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 1rem;
}

.signup button {
  padding: 10px 20px;
  background-color: var(--color1);
  color: #000000;
  cursor: pointer;
  font-weight: 500;
}

.signup button:hover {
  background-color: var(--color2);
}